@import "tailwindcss";

/* -------------------------------- */
/* Tailwind v4 Theme Config         */
/* -------------------------------- */
@theme {
  --color-red: #C60C30;
  --color-red-light: #FA0C3A;
  --color-blue: #002F5F;
  --color-white: #FFFFFF;
  --color-gray: #535353;
  --color-dark: #232B2A;
  --color-link: #000000;

  --font-myriad: 'Myriad Pro', sans-serif;

  --text-h1: 60px;
  --leading-h1: 1;
  --tracking-h1: 1px;

  --text-h2: 44px;
  --leading-h2: 1;
  --tracking-h2: 1px;

  --text-h3: 30px;
  --leading-h3: 1;
  --tracking-h3: 0.5px;

  --text-h4: 24px;
  --leading-h4: 1;
  --tracking-h4: 1px;

  --text-h5: 20px;
  --leading-h5: 1;
  --tracking-h5: 1px;

  --text-standfirst: 24px;
  --leading-standfirst: 32px;
  --tracking-standfirst: 0.5px;

  --text-bold: 20px;
  --leading-bold: 28px;
  --tracking-bold: 1px;

  --text-body: 19px;
  --leading-body: 24px;
  --tracking-body: 0.5px;
}

/* -------------------------------- */
/* Fonts                            */
/* -------------------------------- */

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Myriad Pro';
  src: url('/fonts/MyriadPro-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Basic reset */
html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-myriad);
}
